<link rel="stylesheet" href="/stylesheets/patients.css">
<% if (typeof error != 'undefined') { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <form action="/patients/<%= _id %>" method="POST" class="update-content">
    <div class="mb-3">
      <label for="full_name" class="form-label">Full Name</label>
      <input type="text" class="form-control" id="full_name" name="full_name"
             value="<%= full_name %>">
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="a" name="city"
             value="<%= city %>">
    </div>
    <div class="mb-3">
      <label for="specialization" class="form-label">Age</label>
      <input type="text" class="form-control" id="age" name="age"
             value="<%= age %>">
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">Gender</label>
      <input type="text" class="form-control" id="gender" name="gender"
             value="<%= gender %>">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/doctors" class="btn btn-secondary">Cancel</a>
  </form>
  